@import "variables.css";

html, body, #app {
    height: 100%;
    margin: 0 auto;
}


#boardgame {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgb(59, 162, 71);
    background: radial-gradient(circle, rgba(59, 162, 71, 1) 0%, rgba(31, 91, 29, 1) 100%);
    z-index: 1;
}

.container-buttons {
    margin-top: auto;
    width: 100vi;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.boardcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100vi;
}

.container-cards {
    display: flex;
}

.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.container {
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.between {
    justify-content: space-between !important;
}


/*    BOARD    */
.score-display {
    padding: 10px 20px;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    max-width: min-content;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background-color: var(--color-dark-gray);
    transition: 0.2s;
}

.balance-display {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: min-content;
}

.balance-display>* {
    background-color: #3c3c3c;
    color: white;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.balance-display>*:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 0px !important;
}

.balance-display>*:last-child {
    border-top-left-radius: 10px;
}

.title-bet {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 2rem;
    opacity: 0;
    animation: moveupdown 2.5s infinite;
    transition: 0.2s;
}

@keyframes moveupdown {
    100%, 0% {
        margin-top: -5px;
        opacity: 0;
    }
    50% {
        margin-top: 10px;
        opacity: 1;
    }
}


/*    FOOTER    */

.footer {
    height: 100px;
    width: 100%;
    background-color: var(--color-dark-gray);
    z-index: 1;
}

.payment-display {
    background-color: white;
    margin: 5px;
    font-size: 2rem;
    height: 60px;
    border-radius: 10px;
    width: 80%;
    font-weight: 600;
    margin-top: 10px !important;
    margin-bottom: 0;
}


/*    BUTTONS    */

.btn {
    border: unset;
    position: relative;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: var(--color-action);
    font-weight: 600;
    font-size: 1.3rem;
    min-width: 100px;
    border-radius: 10px;
    color: white;
    height: 50px;
}

.btn::after {
    content: "";
    border-radius: 10px;
    background-color: var(--color-action-sub);
    height: 100%;
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
    cursor: pointer;
}

.bg-action {
    background-color: var(--color-action);
}

.btn-bet, .bg-bet {
    background-color: #9a29eb;
}

.btn-bet::after {
    background-color: #6e03b9;
}

.btn-danger, .bg-danger {
    background-color: var(--color-danger);
}

.btn-danger::after {
    background-color: var(--color-danger-sub);
}

.btn-success, .bg-success {
    background-color: var(--color-success);
}

.btn-success::after {
    background-color: var(--color-success-sub);
}

.btn-warning, .bg-warning {
    background-color: var(--color-warning);
}

.btn-warning::after {
    background-color: var(--color-warning-sub);
}

.btn-hit, .bg-hit {
    background-color: var(--color-hit);
}

.btn-hit::after {
    background-color: var(--color-hit-sub);
}

.btn-sm {
    width: 60px;
    min-width: unset !important;
}


.text-xl {
    font-size: 1.5rem !important;
}

.bg-multi-color {
    animation: multicolor 2s forwards infinite linear;
}

@keyframes multicolor {
    100%, 0% {
        background-color: rgb(255, 0, 0);
    }

    8% {
        background-color: rgb(255, 127, 0);
    }

    16% {
        background-color: rgb(204, 204, 8);
    }

    25% {
        background-color: rgb(108, 212, 3);
    }

    33% {
        background-color: rgb(1, 214, 1);
    }

    41% {
        background-color: rgb(0, 255, 127);
    }

    50% {
        background-color: rgb(0, 197, 197);
    }

    58% {
        background-color: rgb(0, 127, 255);
    }

    66% {
        background-color: rgb(0, 0, 255);
    }

    75% {
        background-color: rgb(127, 0, 255);
    }

    83% {
        background-color: rgb(255, 0, 255);
    }

    91% {
        background-color: rgb(255, 0, 127);
    }
}

        