:root {
    --color-success: #03b975;
    --color-success-sub: #108459;
    --color-danger: #e62929;
    --color-danger-sub: #951818;
    --color-action: #3f42d2;
    --color-action-sub: #2b2d9b;
    --color-warning: #c29e15;
    --color-warning-sub: #806500;
    --color-hit: #15b7a0;
    --color-hit-sub: #0b7768;   
    --color-dark-gray: rgb(32, 32, 32); 
}